<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
     Court Counter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <table style="width:10%">
    
          <tr>
              <th><label>Team A </label>
              <br><br><br>
           

        
                <ion-button color="warning">-4</ion-button>
                <br>
                <ion-button color="warning">-3</ion-button>
                <br>
                <ion-button color="warning">-2</ion-button>
                <br>
                <ion-button color="warning">-1</ion-button>
              
             
        
         </th>
            
            </tr>     
            <br><br>
            <tr>
               
          
              
              
              </tr>
  </table>
  </div>
  
 
  
</ion-content>
