<ion-header>
  <ion-toolbar color="warning">
    <ion-title text-align="left">
  OrderCoffee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <br><br><br>
  <h1><b><i>@CoffeeCouture</i></b></h1>

  <img src="/assets/coffee gif.gif">
  <ion-card>
 
    <ion-button color="warning" expand="full" size="medium" (click)="show()">Welcome to CoffeeCouture!</ion-button>
    <br><br><br><br>
    <!-- <ion-button color="warning"  (click)="start()" size="medium">change order</ion-button> -->
   
  </ion-card> 
</ion-content>
